{% extends 'paginas/modelo.html' %}
{% load static %}

{% block conteudo %}

<div class="container">
    <div class="text-center m-4">
        <h2>Descrição do Projeto <strong>MW Tecnologia</strong></h2>      
    </div>

    <div class="text-justify margem-fixa">

        <p>Este projeto tem por objetivo criar um blog de Tecnologia, 
            onde os usuários possam interagir e trocar conhecimentos 
            em diferentes áreas.
            O conteúdo do blog será organizado em categorias, facilitando a busca 
            de assuntos e tópicos relacioandos ao gênero escolhido. Será possível também 
            realizar um cadastro no site com as informações pessoais de acordo com o perfil do usuário.<br> 

            O usuário também poderá realizar comentários nas postagens do conteúdo do blog,
            como também interagir com os demais comentários já publicados no site.<br>
        
            Os cometários do site serão supervisionados pelo administrador do blog, só após a aprovação do mesmo
            é que o conteúdo do comentário será publicado no blog.
        </p>
        
    </div>

</div>

{% endblock %}